.pointer {
  cursor:pointer;
}
.collapsed {
  max-height: 0px;
  overflow: hidden;
}
.expanded {
  max-height: 1000px;
  overflow: hidden;
}
.expand-animation {
  transition: max-height 1s ease-in-out;
}
.collapse-animation {
  transition: max-height .2s;
}
.active-project {
  color: black;
}