.page-number-nav {
  color: rgb(194, 194, 194);
  cursor: pointer;
  font-size: x-small;
  font-weight: bold;
  margin:2px;
}
.selected-number-nav {
  color: black!important;
}
.project-page-selector-container {
  justify-self: flex-end;
}